electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ffmpeg_binaries_url=https://registry.npmmirror.com/-/binary/ffmpeg-static
ffprobe_binaries_url=https://registry.npmmirror.com/-/binary/ffprobe-static
sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips
